# Python
__pycache__/
*.py[cod]
*.so

# Virtual env
venv/
.env

#migration
migrations/

# Django
*.log
db.sqlite3
staticfiles/
media/

# Tooling
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
.DS_Store
